rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Məhsullar: hamı oxuya bilər (ana səhifə), yalnız daxil olmuş admin yaza bilər
    match /products/{productId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }
  }
}
